*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# APK & App Bundle
*.apk
*.aab

# Signing Key
*.jks
*.keystore

# Environment
.env
.env.*

# Firebase Admin
service-account.json
firebase-adminsdk.json
